@charset "UTF-8";
/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Light.ttf");
  font-style: medium;
  font-weight: 200;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf");
  font-style: medium;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Medium.ttf");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Bold.ttf");
  font-style: medium;
  font-weight: 900;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #fff;
  color: #404040;
  min-width: 576px;
  line-height: 24px;
  margin: auto;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}

.pattern-block {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-image: url("../img/line.png");
}

/*MAIN STYLES*/
/*===========================================*/
span {
  display: inline-block;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

.mar-btn {
  font-family: "Helvetica", sans-serif !important;
  color: #363362;
  background-color: #fff;
  text-align: center;
  border: 3px solid #f4ea25;
  padding: 15px 40px 12px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  display: inline-block;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.marshal-text h2 {
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  color: #363362;
  margin-bottom: 50px;
}

.marshal-text p + p {
  margin-top: 30px;
}

.marshal-text p {
  color: #404040;
}

.personal-info__form {
  width: 375px;
  display: block;
  margin: auto;
}

.personal-info__form input[type*="text"], .personal-info__form input[type*="email"], .personal-info__form input[type*="password"], .personal-info__form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  padding-right: 10px;
  font-weight: 300;
  background: transparent;
  color: #fff;
  font-family: "Helvetica";
}

.personal-info__form input#name {
  text-transform: capitalize;
}

.personal-info__form label[for] {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: top .3s, font-size .3s , color .3s;
  -o-transition: top .3s, font-size .3s , color .3s;
  transition: top .3s, font-size .3s , color .3s;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding-left: 10px;
}

.personal-info__form label[for].hold {
  top: -5px;
  font-size: 14px;
  color: #9a9a9a;
}

.personal-info__form .input-holder + .input-holder {
  margin: 35px 0 0 0;
}

.personal-info__form .input-holder {
  position: relative;
}

.personal-info__form .input-holder.wrong label {
  color: #e63d3d;
}

.personal-info__form .input-holder.wrong input[type*="text"] {
  border-bottom: 1px solid #ec5454;
}

.personal-info__form .input-holder.wrong label[for] {
  color: #e63d3d;
}

.personal-info__form .input-holder.active label {
  top: -5px;
  font-size: 14px;
  color: #9a9a9a;
}

#thankyou_message {
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  visibility: visible;
  text-align: left;
  padding: 20px 15px;
  text-align: center;
}

#thankyou_message p {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #75f561;
  text-transform: capitalize;
}

.spoiler-button {
  background: #fff;
  padding-right: 90px;
}

.spoiler-button span {
  color: #363362 !important;
  cursor: pointer;
  position: relative;
}

.spoiler-button span:after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 3px;
  background-color: #363362;
}

.spoiler-button span:first-child {
  padding-left: 20px;
}

.spoiler-button span:first-child:before {
  content: '...';
  position: absolute;
  left: 0;
  background: #fff;
  color: #404040;
}

/*===========================================*/
/*HEADER*/
/*===========================================*/
.header {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 150px;
}

.header-sticky {
  height: 115px;
  margin-bottom: 100px;
}

.header-sticky.sticky-header .header-sticky__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 10px 0;
}

.header-sticky.sticky-header .header-logo {
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  width: 50px !important;
}

.header-sticky.sticky-header .header-content {
  max-width: 1110px;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 576px;
  z-index: 99;
}

.header-sticky.sticky-header .header-nav {
  padding-top: 0;
}

.header-sticky.sticky-header .header-nav__item.active {
  color: #363362 !important;
}

.header-sticky.sticky-header .header-nav__item, .header-sticky.sticky-header .header-tell {
  color: #404040;
}

.header-logo {
  margin-right: 90px;
  width: 100px;
}

.header-logo img {
  max-width: 100%;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.header-nav {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-weight: 500;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-nav__item + .header-nav__item {
  margin-left: 60px;
}

.header-nav__item {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header-nav__item.active {
  position: relative;
  color: #363362;
}

.header-nav__item.active:hover {
  color: #363362;
}

.header-nav__item.active a {
  cursor: default;
}

.header-nav__item.active:before {
  content: '';
  background-color: #f4ea25;
  position: absolute;
  bottom: -8px;
  display: block;
  height: 2px;
  left: -15px;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
}

.header-nav__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-tell {
  margin-left: auto;
  text-align: right;
  padding-top: 10px;
}

.header-tell span {
  display: block;
  font-size: 14px;
}

.header-tell a {
  font-size: 18px;
  font-weight: 900;
}

.header-title {
  padding-left: 100px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #fff;
}

.header-title h1 {
  font-weight: 900;
  font-size: 52px;
  margin-bottom: 20px;
}

.header-title p {
  font-weight: 400;
  font-size: 48px;
  font-family: "Helvetica", sans-serif;
}

.header-title .mar-btn {
  margin-top: 110px;
}

/*HEADER-CONTACTS*/
.header.contacts {
  padding: 10px 0 70px 0;
}

.header.contacts .header-sticky {
  margin-bottom: 0;
  height: 76px;
}

.header.contacts .header-content {
  color: #404040;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.contacts .header-logo {
  width: 65px;
  margin-right: 95px !important;
}

.header.contacts .header-nav {
  padding-top: 0;
}

.header.contacts .header-tell {
  padding-top: 0;
}

/*HEADER-ABOUT*/
.header.about {
  padding-top: 10px;
  padding-bottom: 100px;
  margin-bottom: 150px;
}

.header.about .header-title {
  line-height: 24px;
}

.header.about .header-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.about .header-nav {
  padding-top: 0;
}

.header.about .header-nav .active {
  color: #fff;
}

.header.about .header-nav .active:hover {
  color: #fff;
}

.header.about .header-logo {
  width: 65px;
  margin-right: 95px;
}

.header.about .header-tell {
  padding-top: 0;
}

.header.about .header-title {
  width: 520px;
  padding-left: 0;
  font-family: "Helvetica", sans-serif;
}

.header.about .header-title h1 {
  font-size: 20px;
  font-weight: 200;
}

.header.about .header-title p + p {
  margin-top: 35px;
}

.header.about .header-title p {
  font-size: 16px;
  font-weight: 300;
}

/*HEADER-TARIFF*/
.header.tariff {
  padding: 10px 0 100px 0;
}

.header.tariff .header-sticky {
  margin-bottom: 0;
  height: 76px;
}

.header.tariff .header-content {
  color: #404040;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.tariff .header-logo {
  width: 65px;
  margin-right: 95px;
}

.header.tariff .header-nav {
  padding-top: 0;
}

.header.tariff .header-tell {
  padding-top: 0;
}

/*===========================================*/
/*MAIN*/
/*===========================================*/
.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 150px;
}

.main-content .marshal-text {
  width: 50%;
}

.main.home-page {
  padding-top: 150px;
}

.main-title {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-title__text {
  color: #363362;
  width: 340px;
  background-color: #fff;
  font-size: 32px;
  position: relative;
  line-height: 42px;
  margin-right: 57px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: pre-line;
}

.main-title__text::after, .main-title__text::before {
  position: absolute;
  color: #f4ea25;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 30px;
  font-family: 'Roboto', sans-serif;
}

.main-title__text:before {
  right: 100%;
  bottom: 100%;
  content: '“';
}

.main-title__text:after {
  content: '”';
  right: 0;
  top: 100%;
}

.main-title__text .pattern-block {
  width: -webkit-calc(100% + 114px);
  width: calc(100% + 114px);
  right: -57px;
  z-index: -1;
  top: -40px;
  height: -webkit-calc(100% + 80px);
  height: calc(100% + 80px);
}

.cooperation {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 100px 0 70px 0;
  margin-bottom: 150px;
  color: #fff;
}

.cooperation .wrapper {
  width: 955px;
}

.cooperation-title {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 100px;
}

.cooperation-offers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cooperation-offers__row {
  width: 220px;
  text-align: center;
}

.cooperation-offers__row .offers__img {
  width: 100px;
  height: 108px;
  margin: 0 auto 30px;
}

.cooperation-offers__row span {
  font-size: 20px;
}

.rates {
  margin-bottom: 150px;
}

.rates-title {
  display: block;
  font-size: 30px;
  font-weight: 200;
  color: #363362;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 245px;
}

.rates-content__holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  counter-reset: section;
}

.rates-block {
  width: 475px;
  position: relative;
}

.rates-block .rates-block__top {
  bottom: 95%;
}

.rates-block:nth-child(n+3) {
  margin-top: 180px;
}

.rates-block:nth-child(n+5) .rates-block__top {
  padding-bottom: 60px;
}

.rates-block a {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.rates-block .pattern-block {
  top: 30px;
  right: 0;
  height: 100%;
  width: 58%;
  z-index: -1;
}

.rates-block:before {
  counter-increment: section;
  content: counter(section);
  font-size: 240px;
  color: #f2f2f2;
  position: absolute;
  left: 0;
  line-height: 1;
  bottom: 60%;
  font-weight: 900;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

.rates-block__content {
  width: 445px;
  height: 250px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.rates-block__top {
  z-index: 3;
  padding-bottom: 14px;
  position: absolute;
  left: 0;
  width: 100%;
  clear: both;
}

.rates-block__top::before {
  content: '';
  display: block;
  height: 3px;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #363362;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.rates-block__top h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #404040;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.rates-block__top div {
  color: #000;
  height: 54px;
}

.rates-block__top div img {
  display: inline-block;
  width: 20px;
  vertical-align: top;
  margin-right: 10px;
  height: 20px;
}

.rates-block__top div span {
  width: -webkit-calc(100% - 35px);
  width: calc(100% - 35px);
  vertical-align: top;
  font-weight: 500;
  line-height: 18px;
}

.rates-text {
  width: 475px;
  margin-top: 140px;
}

.application {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.application .personal-info__form input[type="submit"] {
  margin: auto;
  display: block;
  padding: 15px 60px 13px 60px;
}

.application .personal-info__form p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.application .personal-info__shadow {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
}

/*MAIN CONTACTS*/
.main.contacts .map {
  padding-left: 65px;
  width: 50%;
}

.main.contacts .map iframe {
  width: 100%;
  height: 690px;
}

.main.contacts .marshal-text p span {
  display: block;
}

.main.contacts .marshal-text p a {
  font-weight: 500;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.main.contacts .main-title {
  width: 710px;
  margin: 0 auto 215px;
}

.main.contacts .main-title__text {
  width: auto;
  margin-right: 0;
  font-size: 24px;
  font-weight: 500;
}

/*MAIN-ABOUT*/
.main.about .rates-title {
  margin-bottom: 100px;
}

.main.about .about-get {
  margin-bottom: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main.about .about-get__block {
  width: 50%;
  padding-right: 30px;
}

.main.about .about-get__item + .about-get__item {
  margin-top: 60px;
}

.main.about .about-get__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main.about .about-get__item img {
  width: 110px;
  margin-right: 50px;
}

.main.about .about-get__item span {
  width: -webkit-calc(100% - 160px);
  width: calc(100% - 160px);
  font-size: 18px;
}

.main.about .about-get .main-title {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main.about .about-get .main-title__text {
  width: 78%;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.main.about .about-get .main-title__text p {
  z-index: 1;
}

.main.about .about-get .main-title__text:after {
  display: none;
}

.main.about .about-get .main-title__text:before {
  content: '!';
  font-size: 200px;
  top: -25px;
  left: -25px;
  right: auto;
  bottom: auto;
  font-weight: 900;
  font-style: italic;
}

.main.about .about-desctiption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 150px;
}

.main.about .about-desctiption__text {
  width: 50%;
}

.main.about .about-desctiption__text p + p {
  margin-top: 30px;
}

.main.about .about-desctiption .main-title {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main.about .about-desctiption .main-title__text {
  width: 78%;
  margin: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
}

/*MAIN-TARIFF*/
.main.tariff .rates-title {
  margin-bottom: 120px;
}

.main.tariff .tariff-content {
  width: 100%;
  margin-bottom: 135px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main.tariff .tariff-content .tablet-btn {
  display: none !important;
}

.main.tariff .tariff-content.right {
  padding-left: 15px;
}

.main.tariff .tariff-content.right .rates-block__top h3:before {
  left: -72%;
}

.main.tariff .tariff-content.right .price-block {
  padding-left: 15px;
}

.main.tariff .tariff-content.right .rates-block__content {
  margin-right: auto;
}

.main.tariff .tariff-content.right .rates-block::before {
  right: -50px;
  left: auto;
  z-index: -1;
}

.main.tariff .tariff-content.right .rates-block__top {
  -webkit-transform: translate(100%, -25px);
  -ms-transform: translate(100%, -25px);
  transform: translate(100%, -25px);
  float: left;
  padding-left: 15px;
}

.main.tariff .tariff-content.right .rates-block .pattern-block {
  left: auto;
  right: 0;
}

.main.tariff .tariff-content.right .mar-btn {
  margin-right: auto;
  -webkit-transform: translate(30px, -15px);
  -ms-transform: translate(30px, -15px);
  transform: translate(30px, -15px);
}

.main.tariff .tariff-content.left .rates-block__top h3:before {
  left: 34%;
}

.main.tariff .tariff-content.left .price-block {
  padding-right: 15px;
}

.main.tariff .tariff-content.left .rates-block__content {
  margin-left: auto;
}

.main.tariff .tariff-content.left .rates-block::before {
  left: -20px;
}

.main.tariff .tariff-content.left .rates-block__top {
  -webkit-transform: translate(-100%, -25px);
  -ms-transform: translate(-100%, -25px);
  transform: translate(-100%, -25px);
  float: left;
  padding-right: 15px;
}

.main.tariff .tariff-content.left .rates-block .pattern-block {
  right: auto;
  left: 0;
}

.main.tariff .tariff-content.left .mar-btn {
  margin-left: auto;
  -webkit-transform: translate(-30px, -15px);
  -ms-transform: translate(-30px, -15px);
  transform: translate(-30px, -15px);
}

.main.tariff .tariff-content .mar-btn {
  width: 220px;
  display: block;
  padding: 15px 0 13px 0;
  border: 3px solid #363362;
  -webkit-transition: border .3s , background .3s;
  -o-transition: border .3s , background .3s;
  transition: border .3s , background .3s;
}

.main.tariff .tariff-content .rates-block {
  width: 50%;
}

.main.tariff .tariff-content .rates-block .pattern-block {
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px);
  top: 70px;
}

.main.tariff .tariff-content .rates-block:before {
  bottom: 50%;
}

.main.tariff .tariff-content .rates-block__content {
  height: 290px;
}

.main.tariff .tariff-content .price-block {
  width: 50%;
  z-index: 10;
}

.main.tariff .tariff-content .price-block__content {
  margin-bottom: 40px;
}

.main.tariff .tariff-content .price-block__content span + span {
  margin-left: 30px;
}

.main.tariff .tariff-content .price-block__content span {
  font-weight: 500;
}

.main.tariff .tariff-content .price-block__content span b {
  font-size: 20px;
  color: #363362;
}

.main.tariff .tariff-content .price-block__person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main.tariff .tariff-content .price-block__person .work-person {
  width: 115px;
  font-weight: 500;
}

.main.tariff .tariff-content .price-block__person .work-person:nth-child(2) img {
  width: 25px !important;
}

.main.tariff .tariff-content .price-block__person .work-person + .work-person {
  margin-left: 50px;
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

.main.tariff .tariff-content .price-block__person .work-person + .work-person img {
  display: inline-block !important;
  color: #363362;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
  height: 35px;
}

.main.tariff .tariff-content .price-block__person .work-person + .work-person span {
  width: -webkit-calc(100% - 45px);
  width: calc(100% - 45px);
  vertical-align: middle;
  line-height: 18px;
}

.main.tariff .tariff-content .price-block .price-spoiler {
  margin-top: 40px;
  position: relative;
  height: 60px;
  overflow: hidden;
  width: 100%;
}

.main.tariff .tariff-content .price-block .price-spoiler.active {
  overflow: visible;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .price-block__text {
  position: absolute;
  padding-bottom: 15px;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .spoiler-button {
  position: static !important;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .spoiler-button span {
  z-index: 99;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .spoiler-button span:after {
  width: 100%;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .spoiler-button span:first-child {
  display: none;
}

.main.tariff .tariff-content .price-block .price-spoiler.active .spoiler-button span + span {
  display: inline-block !important;
}

.main.tariff .tariff-content .price-block__text {
  line-height: 20px;
  z-index: 99;
  background-color: #fff;
}

.main.tariff .tariff-content .price-block__text span {
  position: relative;
}

.main.tariff .tariff-content .price-block__text span .spoiler-button {
  position: absolute;
  right: 0;
  top: 40px;
}

.main.tariff .tariff-content .price-block__text span .spoiler-button span + span {
  display: none;
}

.main.tariff .tariff-content .rates-block__top {
  position: relative;
  padding-bottom: 0;
}

.main.tariff .tariff-content .rates-block__top::before {
  display: none;
}

.main.tariff .tariff-content .rates-block__top div {
  height: auto;
}

.main.tariff .tariff-content .rates-block__top h3 {
  position: relative;
  padding-bottom: 20px;
}

.main.tariff .tariff-content .rates-block__top h3:before {
  content: '';
  display: block;
  height: 3px;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 90;
  background-color: #363362;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.main.tariff .rates-description {
  font-size: 0;
}

.main.tariff .rates-description h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #363362;
}

.main.tariff .rates-description .rates-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
}

.main.tariff .rates-description .main-title {
  padding-left: 15px;
  font-size: 24px;
  margin-top: 45px;
  display: inline-block;
  vertical-align: top;
}

.main.tariff .rates-description .main-title__text {
  width: 78%;
  margin: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
}

/*===========================================*/
/*FOOTER*/
/*===========================================*/
.footer {
  background-color: #dedede;
  padding: 40px 0 10px 0;
  color: #000;
}

.footer-logo {
  width: 65px;
  margin-right: 30px;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-list:nth-child(3) {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.footer-list:nth-child(4) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 0 !important;
}

.footer-list:nth-child(5) {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.footer-list:nth-child(6) {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.footer-list.copy {
  display: none !important;
}

.footer-list__item span {
  display: none;
}

.footer-list + .footer-list {
  margin-left: 70px;
}

.footer .copy {
  margin-top: 40px;
  text-align: center;
}

/*media*/
@media (min-width: 1025px) {
  /*HOVER*/
  .mar-btn:hover {
    background-color: #f4ea25;
  }
  .header-sticky.sticky-header .header-nav__item:hover {
    color: #ede202;
  }
  .header-nav__item:hover, .marshal-text p a:hover {
    color: #ede202;
  }
  .rates-block:hover h3 {
    color: #363362;
  }
  .rates-block:hover .rates-block__top:before {
    background-color: #f4ea25;
  }
  .main.tariff .tariff-content:hover .rates-block__top h3:before {
    background-color: #f4ea25;
  }
  .main.tariff .tariff-content:hover .mar-btn {
    border: 3px solid #f4ea25;
  }
}

@media (max-width: 1279px) {
  .header-sticky.sticky-header .header-content {
    padding: 0 15px;
  }
  .wrapper {
    padding: 0 15px;
  }
  /*MAIN-TARIFF*/
  .main.tariff .tariff .tariff-content.left .rates-block::before {
    left: -50px;
  }
  .main.tariff .tariff .tariff-content.right .rates-block::before {
    right: -80px;
  }
  .main.tariff .tariff .tariff-content .price-block__content span + span {
    margin: 0;
    display: block;
  }
  /*FOOTER*/
  .footer-list + .footer-list {
    margin-left: 30px;
  }
}

@media (max-width: 1280px) {
  .main.tariff .tariff-content:nth-child(1) .price-block__content, .main.tariff .tariff-content:nth-child(2) .price-block__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main.tariff .tariff-content:nth-child(1) .price-block__content span, .main.tariff .tariff-content:nth-child(2) .price-block__content span {
    width: 50%;
  }
  .main.tariff .tariff-content:nth-child(1) .price-block__content span b, .main.tariff .tariff-content:nth-child(2) .price-block__content span b {
    display: block;
  }
}

@media (max-width: 1023px) {
  .header-sticky.sticky-header .header-content {
    max-width: 960px;
  }
  .wrapper {
    max-width: 960px;
  }
  /*HEADER-HOME*/
  .header-title h1 {
    font-size: 45px;
  }
  .header-title p {
    font-size: 40px;
  }
  .header.home-page {
    padding-bottom: 100px;
  }
  /*MAIN-HOME*/
  .main.home-page {
    padding-top: 100px;
  }
  .main.home-page .rates-content__holder .rates-block {
    width: 405px;
  }
  .main.home-page .rates-content__holder .rates-block__content {
    width: 375px;
  }
  .main.home-page .rates-content__holder .rates-block__content .rates-block__top:before {
    width: 100%;
  }
  /*MAIN-CONTACTS*/
  .main.contacts .main-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main.contacts .marshal-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .main.contacts .map {
    width: 100%;
    padding: 0;
  }
  .main.contacts .main-title {
    margin: 0 auto 165px;
    width: 70%;
  }
  /*MAIN-ABOUT*/
  .main.about .about-get {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .main.about .about-get__block {
    display: block;
    font-size: 0;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main.about .about-get__item + .about-get__item {
    margin: 0;
  }
  .main.about .about-get__item {
    margin: 0 0 0 0;
    display: block;
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
  }
  .main.about .about-get__item span {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .main.about .about-get__item img {
    margin: auto;
  }
  .main.about .about-get .main-title {
    width: 70%;
    margin: auto;
    margin-top: 70px;
  }
  /*MAIN-TARIFF*/
  .main.tariff .tariff-content .rates-block__content {
    width: 380px;
    height: 260px;
  }
  .main.tariff .tariff-content .rates-block::before {
    z-index: 1 !important;
    font-size: 180px;
  }
  .main.tariff .tariff-content .price-block__content {
    margin-bottom: 30px;
  }
  .main.tariff .tariff-content .price-block__content span + span {
    margin-left: 0;
  }
  .main.tariff .tariff-content .price-block .price-spoiler {
    height: 40px;
  }
  .main.tariff .tariff-content .price-block__text span .spoiler-button {
    top: 20px;
  }
  .main.tariff .tariff-content .price-block__person .work-person + .work-person {
    margin-left: 40px;
  }
  /*footer*/
  /*==========================================*/
  .footer-logo {
    display: none;
  }
  .footer-list + .footer-list {
    margin-left: 55px;
  }
  .footer-list {
    font-size: 15px;
  }
}

@media (max-width: 959px) {
  .header-sticky.sticky-header .header-content {
    max-width: 100%;
  }
  .wrapper {
    max-width: 720px;
  }
  .rates-title {
    font-size: 24px;
  }
  /*HEADER*/
  .header {
    padding-top: 0 !important;
  }
  .header .wrapper {
    max-width: 100%;
    padding: 0;
  }
  .header-content {
    padding: 0 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-nav {
    padding: 0;
  }
  .header-logo {
    width: 65px;
    margin-right: 95px;
  }
  .header.about .header-title {
    padding-left: 15px;
  }
  /*main*/
  .main-content {
    margin-bottom: 100px;
  }
  /*MAIN-HEADER*/
  .cooperation-title {
    font-size: 27px;
  }
  .main.home-page .main-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main.home-page .marshal-text {
    width: 100%;
  }
  .main.home-page .marshal-text p + p {
    margin: 10px 0 0 0;
  }
  .main.home-page .main-title {
    width: 84%;
    margin: 80px auto;
  }
  .main.home-page .main-title__text {
    width: 100%;
  }
  .main.home-page .rates-content__holder .rates-block {
    width: 330px;
  }
  .main.home-page .rates-content__holder .rates-block:before {
    font-size: 180px;
    bottom: 75%;
  }
  .main.home-page .rates-content__holder .rates-block:nth-child(n+5) .rates-block__top {
    padding-bottom: 50px;
  }
  .main.home-page .rates-content__holder .rates-block__top span {
    font-size: 14px;
  }
  .main.home-page .rates-content__holder .rates-block__content {
    width: 100%;
    height: 220px;
  }
  .main.home-page .rates-text {
    width: 100%;
    margin-top: 100px;
  }
  /*MAIN-ABOUT*/
  .main.about .about-desctiption {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main.about .about-desctiption__text {
    width: 100%;
  }
  .main.about .about-desctiption .main-title {
    width: 70%;
    margin: 70px auto 0;
  }
  /*MAIN-CONTACTS*/
  .main.contacts .main-title {
    width: 84%;
  }
  /*MAIN-TARIFF*/
  .main.tariff .rates-content__holder {
    display: block;
  }
  .main.tariff .rates .wrapper {
    padding: 0;
  }
  .main.tariff .tariff-content .tablet-btn {
    display: block !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin: 30px auto 0;
  }
  .main.tariff .tariff-content.left .rates-block__top, .main.tariff .tariff-content.right .rates-block__top {
    float: none;
    padding: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .main.tariff .tariff-content.left .rates-block__top h3, .main.tariff .tariff-content.right .rates-block__top h3 {
    padding-bottom: 0;
  }
  .main.tariff .tariff-content.left .rates-block__top h3:before, .main.tariff .tariff-content.right .rates-block__top h3:before {
    left: 0;
    right: 0;
    bottom: -70px;
  }
  .main.tariff .tariff-content .price-block {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
  .main.tariff .tariff-content .rates-block {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
  .main.tariff .tariff-content .rates-block a {
    display: none;
  }
  .main.tariff .tariff-content .rates-block__content {
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /*main tariff*/
  .main.tariff .wrapper {
    max-width: 576px;
  }
  .main.tariff .tariff-content {
    padding: 0 !important;
  }
  .main.tariff .tariff-content:nth-child(5) .rates-block__top h3:before {
    bottom: -53px !important;
  }
  .main.tariff .tariff-content .rates-title {
    margin-bottom: 100px;
  }
  .main.tariff .tariff-content .price-block {
    margin-top: 30px;
    padding: 0 !important;
  }
  .main.tariff .tariff-content .rates-block__top h3:before {
    width: 100%;
    bottom: -90px !important;
  }
  .main.tariff .tariff-content .rates-block__top span {
    height: 40px;
  }
  .main.tariff .tariff-content .rates-block:before {
    right: auto !important;
    left: 0 !important;
  }
  .main.tariff .tariff-content .rates-block__content {
    -webkit-background-size: cover;
    background-size: cover;
  }
  .main.tariff .tariff-content .rates-block .pattern-block {
    height: 260px;
    top: auto;
    bottom: -25px;
    left: 0;
    right: auto;
  }
  .main.tariff .rates-description {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main.tariff .rates-description .rates-text {
    width: 100%;
  }
  .main.tariff .rates-description .main-title {
    width: 84%;
    display: block;
    margin: 80px auto 0;
  }
  .main.tariff .rates-description .main-title__text {
    width: 100%;
  }
  /*FOOTER*/
  .footer {
    padding: 40px 0;
  }
  .footer .copy {
    display: none;
  }
  .footer-content {
    display: block;
  }
  .footer-content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .footer-content .footer-logo {
    display: block;
    float: left;
    width: 15%;
    margin-right: 0;
    padding-right: 40px;
  }
  .footer-content .footer-list + .footer-list {
    margin-left: 0;
  }
  .footer-content .footer-list__item p {
    font-weight: 500;
  }
  .footer-content .footer-list.copy {
    display: block !important;
    float: left;
    width: 36%;
    margin-top: 0;
    text-align: left;
  }
  .footer-content .footer-list:nth-child(3) {
    width: 49%;
    float: right;
    padding-left: 45px;
  }
  .footer-content .footer-list:nth-child(3) li {
    float: left;
  }
  .footer-content .footer-list:nth-child(3) li:first-child {
    margin-right: 2px;
  }
  .footer-content .footer-list:nth-child(4) {
    width: 36%;
    float: left;
    margin-top: 20px;
  }
  .footer-content .footer-list:nth-child(5) {
    width: 49%;
    float: right;
    padding-left: 45px;
    margin-top: 10px;
  }
  .footer-content .footer-list:nth-child(5) .footer-list__item p {
    display: none;
  }
  .footer-content .footer-list:nth-child(5) .footer-list__item span {
    display: inline-block;
    font-weight: 900;
  }
  .footer-content .footer-list:nth-child(5) li {
    float: left;
  }
  .footer-content .footer-list:nth-child(5) li:first-child {
    margin-right: 2px;
  }
  .footer-content .footer-list:nth-child(6) {
    width: 49%;
    float: right;
    padding-left: 45px;
    margin-top: 10px;
  }
  .footer-content .footer-list:nth-child(6) li {
    float: left;
  }
  .footer-content .footer-list:nth-child(6) li:first-child {
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .header-tell {
    display: none;
  }
}

@media (max-width: 719px) {
  .wrapper {
    max-width: 576px;
  }
  /*HEADER-home*/
  .header.home-page {
    padding-bottom: 50px;
  }
  .header.home-page .header-title {
    text-align: center;
    padding: 0 15px;
  }
  .header.home-page .header-title h1 {
    font-size: 42px;
  }
  .header.home-page .header-title p {
    font-size: 31px;
  }
  .header.home-page .header-title .mar-btn {
    margin-top: 60px;
  }
  /*HEADER-ABOUT*/
  .header.about {
    margin-bottom: 60px;
  }
  .header.about .header-title p + p {
    margin-top: 15px;
  }
  /*HEADER-TARIFF*/
  .header.tariff {
    padding-bottom: 60px;
  }
  /*MAIN-HOME*/
  .main.home-page {
    padding-top: 60px;
  }
  .main.home-page .main-title {
    width: 60%;
  }
  .main.home-page .main-title__text {
    margin-right: 0;
  }
  .main.home-page .rates-title {
    margin-bottom: 170px;
  }
  .main.home-page .rates-block + .rates-block {
    margin-top: 170px;
  }
  .main.home-page .rates-block {
    margin: auto;
    width: 450px !important;
  }
  .main.home-page .rates-block__content {
    height: 250px;
  }
  .cooperation {
    padding: 70px 0 50px 0;
    margin-bottom: 60px;
  }
  .cooperation-title {
    font-size: 22px;
    margin-bottom: 60px;
  }
  .cooperation .offers__img {
    width: 90px;
    height: 100px;
  }
  .cooperation-offers__row span {
    font-size: 18px;
  }
  /*MAIN-ABOUT*/
  .main.about .rates-title {
    margin-bottom: 60px;
    font-size: 19px;
  }
  .main.about .about-get__item + .about-get__item {
    margin-top: 30px;
  }
  .main.about .about-get__item {
    display: block;
    width: 100%;
    padding: 0;
  }
  .main.about .about-get__item img {
    display: inline-block;
    vertical-align: middle;
  }
  .main.about .about-get__item span {
    padding-left: 30px;
    width: -webkit-calc(100% - 110px);
    width: calc(100% - 110px);
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .main.about .about-get .main-title {
    width: 100%;
  }
  .main.about .about-desctiption .main-title {
    width: 100%;
  }
  /*MAIN-CONTACTS*/
  .main.contacts .map {
    height: 400px;
  }
  .main.contacts .map iframe {
    height: 100%;
  }
  .main.contacts .main-title {
    width: 100%;
  }
  .main.contacts .main-title__text {
    margin: auto;
    width: 80%;
  }
  /*Main-TARIFF*/
  .main.tariff .rates-title {
    margin-bottom: 60px;
  }
  .main.tariff .tariff-content {
    margin-bottom: 100px;
  }
  .main.tariff .tariff-content .price-block__content span b {
    display: inline-block !important;
  }
  .footer-content .footer-logo {
    width: 20%;
  }
  .footer-content .footer-list.copy {
    display: none;
  }
  .footer-content .footer-list:nth-child(3) {
    width: 28%;
    float: left;
    padding-left: 0;
  }
  .footer-content .footer-list:nth-child(4) {
    width: 52%;
    margin-top: 0;
    padding-left: 44px;
  }
  .footer-content .footer-list:nth-child(5) {
    width: 28%;
    float: left;
    padding-left: 0;
    margin-top: 15px;
  }
  .footer-content .footer-list:nth-child(6) {
    width: 52%;
    margin-top: 15px;
    padding-left: 44px;
  }
}
